<img src="../../../img/logo-bdc.png" align="right" width="64"/>

# <span style="color:#336699"> Web Land Trajectory Service (WLTS)</span>
<hr style="border:2px solid #0077b9;">

**W**eb **L**and **T**rajectory **S**ervice (WLTS) is a service that aims to facilitate the access to various land use and cover data collections through a tailored API. WLTS brings the concept of Land Use and Cover Trajectories as a high level abstraction.  Given a location and a time interval you can retrieve the trajectory of the these various data collections.



WTSS is based on three operations:

- ``list_collections``: returns the list of collections available in the service.

- ``describe_collection``: returns the metadata of a given data collection.

- ``trajectory``: returns the land use and cover trajectory from the collections given a location in space. The property result contains the feature identifier information, class, time, and the collection associated to the data item.

This Jupyter Notebook shows how to use Python Client Library for Web Land Trajectory Service.

# 1. Python Client API
<hr style="border:1px solid #0077b9;">

For running the examples in this Jupyter Notebook you will need to install the [WLTS client for Python](https://github.com/brazil-data-cube/wlts.py). In order to access the funcionalities of the client API, you should import the wlts package, as follows:

In [1]:
import wlts

After that, you can check the installed version of WLTS client package:

In [2]:
wlts.__version__

'0.4.0-0'

You should create a wlts object attached to a given service:

In [3]:
service = wlts.WLTS('https://brazildatacube.dpi.inpe.br/wlts')

The above cell will create an object named service that will allow us to comunicate to the given WLTS service.

# 2. Listing the Available Collections
<hr style="border:1px solid #0077b9;">

The object service allows to list the available collections:

In [4]:
service.collections

['terraclass_amazonia',
 'deter_amazonia_legal',
 'deter_cerrado',
 'prodes_cerrado',
 'prodes_amazonia_legal',
 'lapig_cerrado_pasture',
 'ibge_cobertura_uso_terra',
 'mapbiomas5_amazonia',
 'mapbiomas5_cerrado',
 'mapbiomas5_caatinga',
 'mapbiomas5_mata_atlantica',
 'mapbiomas5_pampa',
 'mapbiomas5_pantanal']

The names returned can be used in subsequent operations.

# 3. Retrieving the Metadata of a collection
<hr style="border:1px solid #0077b9;">

It is possible to access the metadata of a specific collection with the `operator[]`:

In [5]:
service['prodes_cerrado']

{'classification_system': {'classification_system_id': '17',
  'classification_system_name': 'PRODES_Cerrado',
  'type': 'Self'},
 'collection_type': 'Feature',
 'description': 'PRODES Cerrado que consiste no mapeamento do desmatamento para toda extensão do Cerrado',
 'detail': 'Assim, o Brasil se viu encorajado a estruturar um sistema oficial de monitoramento sistemático do desmatamento para esta região. Neste contexto, o Instituto Nacional de Pesquisas Espaciais (INPE) está divulgando os resultados do projeto PRODES Cerrado que consiste no mapeamento do desmatamento para toda extensão do Cerrado de 2000 a 2018. Por meio do projeto foi construída uma séria histórica bienal da remoção antrópica da vegetação natural para o período de 2000 a 2012 e anual para os anos de 2013 a 2018. Mais informações: http://cerrado.obt.inpe.br/',
 'name': 'prodes_cerrado',
 'period': {'end_date': '2019', 'start_date': '2000'},
 'resolution_unit': {'unit': 'YEAR', 'value': '1'},
 'spatial_extent': {'xmax': -24.6851196289062,
  'xmin': -60.0939559936523,
  'ymax': -2.32670903205872,
  'ymin': -41.5224685668945}}

# 4. Retrieving the Trajectory
<hr style="border:1px solid #0077b9;">

In order to retrieve the trajectory in the location of `latitude -12.0` and `longitude -54.0` use the `tj` method:

In [6]:
tj = service.tj(latitude=-12.0, longitude=-54.0, collections='mapbiomas5_amazonia')

# 5. Visualizing the Trajectory with Pandas
<hr style="border:1px solid #0077b9;">

If you have Pandas installed, it is possible to plot the trajectory with the `df` method:

In [8]:
import pandas as pd

In [9]:
tj.df()

                 class           collection  date
0   Formação Florestal  mapbiomas5_amazonia  2000
1   Formação Florestal  mapbiomas5_amazonia  2001
2   Formação Florestal  mapbiomas5_amazonia  2002
3   Formação Florestal  mapbiomas5_amazonia  2003
4   Formação Florestal  mapbiomas5_amazonia  2004
5   Formação Florestal  mapbiomas5_amazonia  2005
6   Formação Florestal  mapbiomas5_amazonia  2006
7   Formação Florestal  mapbiomas5_amazonia  2007
8   Formação Florestal  mapbiomas5_amazonia  2008
9   Formação Florestal  mapbiomas5_amazonia  2009
10  Formação Florestal  mapbiomas5_amazonia  2010
11  Formação Florestal  mapbiomas5_amazonia  2011
12  Formação Florestal  mapbiomas5_amazonia  2012
13  Formação Florestal  mapbiomas5_amazonia  2013
14  Formação Florestal  mapbiomas5_amazonia  2014
15  Formação Florestal  mapbiomas5_amazonia  2015
16  Formação Florestal  mapbiomas5_amazonia  2016
17  Formação Florestal  mapbiomas5_amazonia  2017
18  Formação Florestal  mapbiomas5_amazonia  2018
19  Formação Florestal  mapbiomas5_amazonia  2019

In [9]:
trajectory_two = service.tj(latitude=-4.090, longitude=-63.353, collections='mapbiomas5_amazonia')

trajectory_two.df()

                 class           collection  date
0   Rio, Lago e Oceano  mapbiomas5_amazonia  2000
1   Rio, Lago e Oceano  mapbiomas5_amazonia  2001
2   Rio, Lago e Oceano  mapbiomas5_amazonia  2002
3   Rio, Lago e Oceano  mapbiomas5_amazonia  2003
4   Rio, Lago e Oceano  mapbiomas5_amazonia  2004
5   Rio, Lago e Oceano  mapbiomas5_amazonia  2005
6   Rio, Lago e Oceano  mapbiomas5_amazonia  2006
7   Rio, Lago e Oceano  mapbiomas5_amazonia  2007
8   Rio, Lago e Oceano  mapbiomas5_amazonia  2008
9   Rio, Lago e Oceano  mapbiomas5_amazonia  2009
10  Rio, Lago e Oceano  mapbiomas5_amazonia  2010
11  Rio, Lago e Oceano  mapbiomas5_amazonia  2011
12  Rio, Lago e Oceano  mapbiomas5_amazonia  2012
13  Rio, Lago e Oceano  mapbiomas5_amazonia  2013
14  Rio, Lago e Oceano  mapbiomas5_amazonia  2014
15  Rio, Lago e Oceano  mapbiomas5_amazonia  2015
16  Rio, Lago e Oceano  mapbiomas5_amazonia  2016
17  Rio, Lago e Oceano  mapbiomas5_amazonia  2017
18  Rio, Lago e Oceano  mapbiomas5_amazonia  2018
19  Rio, Lago e Oceano  mapbiomas5_amazonia  2019

In [10]:
trajectory_three = service.tj(latitude=-10.710, longitude=-55.612, collections='mapbiomas5_amazonia')

trajectory_three.df()

                          class           collection  date
0                      Pastagem  mapbiomas5_amazonia  2000
1                      Pastagem  mapbiomas5_amazonia  2001
2                      Pastagem  mapbiomas5_amazonia  2002
3                      Pastagem  mapbiomas5_amazonia  2003
4                      Pastagem  mapbiomas5_amazonia  2004
5                      Pastagem  mapbiomas5_amazonia  2005
6                      Pastagem  mapbiomas5_amazonia  2006
7                      Pastagem  mapbiomas5_amazonia  2007
8                      Pastagem  mapbiomas5_amazonia  2008
9                      Pastagem  mapbiomas5_amazonia  2009
10                     Pastagem  mapbiomas5_amazonia  2010
11                     Pastagem  mapbiomas5_amazonia  2011
12                     Pastagem  mapbiomas5_amazonia  2012
13                     Pastagem  mapbiomas5_amazonia  2013
14                     Pastagem  mapbiomas5_amazonia  2014
15                     Pastagem  mapbiomas5_amazonia  2015
16  Outras Lavouras Temporárias  mapbiomas5_amazonia  2016
17                         Soja  mapbiomas5_amazonia  2017
18                         Soja  mapbiomas5_amazonia  2018
19                         Soja  mapbiomas5_amazonia  2019

# 6. References
<hr style="border:1px solid #0077b9;">

- [Python Client Library for Web Land Trajectory Service - User Guide](https://wtss.readthedocs.io/en/latest/index.html)


- [Python Client Library for Web Land Trajectory Service - GitHub Repository](https://github.com/brazil-data-cube/wlts.py)


- [WLTS OpenAPI 3 Specification](https://github.com/brazil-data-cube/wlts-spec)


- [WLTS Server](https://github.com/brazil-data-cube/wlts)